@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 100%;
  font-family: 'Merienda One', cursive;
  background-image: linear-gradient(
    to right bottom,
    #92a5c2,
    #81b6ca,
    #81c4c2,
    #9acfb1,
    #c4d4a0
  );
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

h1 {
  padding: 30px 20px;
  font-family: 'Neonderthaw', cursive;
  letter-spacing: 1.5px;
  font-size: 3em;
}

main {
  padding: 60px 20px;
}

.score__adds {
  display: flex;
  gap: 45px;
  width: 95%;
  margin: 0 auto;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.scores ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  border: 3px solid black;
}

.score__list li:nth-child(even) {
  background-color: #fff;
}

.scores li {
  list-style-type: none;
  font-weight: bold;
  padding: 8px 10px;
}

.score__header {
  display: flex;
  gap: 20px;
}

.add__scores {
  width: 100%;
}

.add__scores,
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 6px 10px;
  box-shadow: 7px 8px 10px -3px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 7px 8px 10px -3px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 7px 8px 10px -3px rgba(0, 0, 0, 0.55);
  font-family: 'Merienda One', cursive;
  border-radius: 16px;
}

form button {
  width: 70px;
  align-self: flex-end;
}

input[type='text'] {
  height: 40px;
  font-weight: bold;
  border: 2px solid #000;
  padding-left: 5px;
  outline: none;
  border-radius: 18px;
  font-family: 'Merienda One', cursive;
}

.error {
  color: red;
}
